.header {
  display: flex;
  justify-content: center;
}

.main section {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 5em;
  gap: 2em;
  width: 40%;
}

.main h2 {
  text-align: center;
}

.main form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 2em;
  width: 100%;
}

.main input {
  background-color: white;
  color: black;
  height: 3em;
}

.main button {
  height: 5em;
}

.main button:hover {
  cursor: pointer;
}
